.home {
  &__introduction {
    margin-bottom: 150px;
  }

  &__content {
    padding: 0 20px;
  }

  &__title {
    color: var(--c-very-dark-blue);
    font-weight: 500;
    text-align: center;
  }

  &__description {
    color: var(--c-grayish-blue);
    line-height: 1.5;
    text-align: center;
  }

  &__actions {
    display: flex;
    justify-content: space-evenly;
  }

  &__features {
    margin-bottom: 200px;

    &-tabs {
      margin-top: 50px;
    }
  }

  &__downloads {
    margin-bottom: 150px;

    &-content {
      margin-top: 60px;
    }
  }

  &__faq {
    margin-bottom: 150px;
    text-align: center;

    &-content {
      margin: 60px 0;
    }

    &-collapse {
      background-color: var(--white) !important;
    }

    &-item {
      color: var(--c-very-dark-blue);
      text-align: left;

      .ant-collapse-content-box {
        background-color: red;
      }
    }
  }

  &__pre-footer {
    background-color: var(--c-soft-blue);
    color: var(--c-white);
    padding: 50px 20px;
    text-align: center;

    &__title {
      font-size: 1rem;
      font-weight: 500;
      margin: 10px 0;
    }

    &__subtitle {
      font-size: 1.5rem;
      font-weight: 500;
    }

    &__form {
      display: flex;
      flex-direction: column;
    }

    &__input {
      &-container {
        background-color: var(--c-soft-red);
        border-radius: 7px;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        position: relative;
      }
    }

    &__hint-text {
      font-size: 1rem;
      margin: 0;
      padding: 5px 5px 5px 15px;
      text-align: left;
    }
  }
}
