.input {
  border: 3px solid var(--c-white);
  border-radius: 7px;
  color: var(--c-very-dark-blue);
  outline: none;
  padding: 20px;
  width: calc(100% - 46px);

  &--error {
    border: 3px solid var(--c-soft-red);
  }

  &__icon {
    line-height: 0;
    position: absolute;
    right: 23px;
    top: 23px;
  }

  &::placeholder {
    color: var(--c-gray);
  }
}
