.tab {
  border-top: 1px solid rgb(145 148 161 / 50%);
  color: var(--c-grayish-blue);
  cursor: pointer;
  padding: 25px 0;
  position: relative;
  transition: color 0.8s;

  &:hover {
    color: var(--c-very-dark-blue);
  }

  &--active {
    color: var(--c-very-dark-blue);

    &::after {
      background-color: var(--c-soft-red);
      bottom: 0;
      content: '';
      display: block;
      height: 5px;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      width: 180px;
    }
  }

  &:last-child {
    border-bottom: 1px solid rgb(145 148 161 / 50%);
  }
}
